{% extends "base.html" %} {% block content %}

<section class="pt-20 pb-6">
  <div class="container md:w-[60%]">
    <h1 class="text-4xl font-bold text-center">
      Yuk Identifikasi Ras Kucing Kamu
    </h1>
    <div class="flex justify-end">
      <a
        href="/camera"
      >
        <button class="bg-blue-700 py-3 px-6 rounded-xl text-white mt-5">
          Mode Ambil Foto
        </button>
      </a>
    </div>

    <form
      id="myForm"
      action="/classify"
      method="POST"
      enctype="multipart/form-data"
      class="mt-10 text-center"
    >
      <!-- Drag and Drop Area -->
      <div
        id="dropArea"
        class="flex justify-center items-center w-full min-h-40 border-2 border-dotted border-primary rounded-lg bg-orange-50 mx-auto relative"
      >
        <label
          for="upload"
          id="uploadLabel"
          class="text-primary text-base flex justify-center items-center absolute inset-0 cursor-pointer"
        >
          <p>
            Drag and drop foto kucing kamu di sini atau
            <span class="font-semibold underline">Upload</span>
          </p>
        </label>
      </div>
      <!-- File Input -->
      <input
        type="file"
        id="upload"
        name="upload"
        accept="image/*"
        required
        class="my-2"
        hidden
      />
    </form>
  </div>
</section>

<!-- Hasil -->
{% if breed %}
<section id="hasil" class="hasil">
  <div class="container md:w-[60%]">
    <img
      id="preview"
      src="data:image/png;base64,{{ img }}"
      alt="Image Preview"
      class="mx-auto rounded-md md:w-[80%] h-96 object-cover"
    />
    <div
      id="tips"
      class="bg-blue-50 border border-blue-200 rounded-md p-4 mt-8 md:w-[75%] mx-auto"
    >
      <p class="text-sm text-blue-700 font-medium flex items-center">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-5 w-5 mr-2"
          viewBox="0 0 20 20"
          fill="currentColor"
        >
          <path
            fill-rule="evenodd"
            d="M18 10c0 4.418-3.582 8-8 8a8 8 0 110-16c4.418 0 8 3.582 8 8zm-9 4a1 1 0 102 0h-2zm0-8a1 1 0 012 0v4a1 1 0 11-2 0V6z"
            clip-rule="evenodd"
          />
        </svg>
        Tips: Klik atau tarik foto pada drop field untuk mengganti foto yang
        diunggah.
      </p>
    </div>
    <div class="mt-6 mx-auto mb-6">
      <div
        class="bg-white rounded-lg border border-gray-200 p-6 shadow-[0_0_22px_rgba(0,0,0,0.15)] group hover:bg-zinc-800 transition-all duration-500"
      >
        <h2 class="text-3xl font-bold text-center text-blue-600">
          Prediksi Ras:
          <span class="text-primary">{{ breed }}</span>
        </h2>
      </div>
    </div>

    <!-- Deskripsi Hasil Kucing -->
    <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
      <!-- Asal Kucing -->
      <div
        class="space-y-6 p-6 rounded-xl shadow-[0_0_22px_rgba(0,0,0,0.15)] group hover:bg-zinc-800 transition-all duration-500"
      >
        <div class="flex items-center gap-5">
          <div
            class="w-10 h-10 rounded-lg flex justify-center items-center bg-blue-600"
          >
            <span class="text-2xl">😺</span>
          </div>
          <p
            class="font-bold text-xl group-hover:text-white transition-all duration-500"
          >
            Asal Kucing
          </p>
        </div>

        <div class="space-y-3">
          <!-- Menampilkan Asal Kucing -->
          <p
            class="text-base text-gray-800 group-hover:text-zinc-50 transition-all duration-500"
          >
            {{ char['asal'] or 'Informasi asal kucing tidak tersedia.' }}
          </p>
        </div>
      </div>

      <!-- Kepribadian Kucing -->
      <div
        class="space-y-6 p-6 rounded-xl shadow-[0_0_22px_rgba(0,0,0,0.15)] group hover:bg-zinc-800 transition-all duration-500"
      >
        <div class="flex items-center gap-5">
          <div
            class="w-10 h-10 rounded-lg flex justify-center items-center bg-purple-500"
          >
            <span class="text-2xl">💬</span>
          </div>
          <p
            class="font-bold text-xl group-hover:text-white transition-all duration-500"
          >
            Kepribadian Kucing
          </p>
        </div>
        <div class="space-y-3">
          <!-- Menampilkan Kepribadian Kucing -->
          <p
            class="text-base text-gray-800 group-hover:text-zinc-50 transition-all duration-500"
          >
            {{ char['kepribadian'] or 'Informasi kepribadian kucing tidak
            tersedia.' }}
          </p>
        </div>
      </div>

      <!-- Ciri Khas Kucing -->
      <div
        class="space-y-6 p-6 rounded-xl shadow-[0_0_22px_rgba(0,0,0,0.15)] group hover:bg-zinc-800 transition-all duration-500"
      >
        <div class="flex items-center gap-5">
          <div
            class="w-10 h-10 rounded-lg flex justify-center items-center bg-red-500"
          >
            <span class="text-2xl">🐈‍⬛</span>
          </div>
          <p
            class="font-bold text-xl group-hover:text-white transition-all duration-500"
          >
            Ciri Khas Kucing
          </p>
        </div>
        <div class="space-y-3">
          <!-- Menampilkan Ciri Khas Kucing -->
          <p
            class="text-base text-gray-800 group-hover:text-zinc-50 transition-all duration-500"
          >
            {{ char['ciriFisik'] or 'Informasi ciri khas kucing tidak tersedia.'
            }}
          </p>
        </div>
      </div>

      <!-- Saran Perawatan -->
      <div
        class="space-y-6 p-6 rounded-xl shadow-[0_0_22px_rgba(0,0,0,0.15)] group hover:bg-zinc-800 transition-all duration-500"
      >
        <div class="flex items-center gap-5">
          <div
            class="w-10 h-10 rounded-lg flex justify-center items-center bg-green-500"
          >
            <span class="text-2xl">❤️‍🩹</span>
          </div>
          <p
            class="font-bold text-xl group-hover:text-white transition-all duration-500"
          >
            Saran Perawatan Kucing
          </p>
        </div>
        <div class="space-y-3">
          <!-- Menampilkan Saran Perawatan Kucing -->
          <ol class="list-decimal pl-5">
            {% for tip in char['tipsPerawatan'] %}
            <li
              class="text-base text-gray-800 group-hover:text-zinc-50 transition-all duration-500"
            >
              {{ tip }}
            </li>
            {% endfor %}
          </ol>
        </div>
      </div>
    </div>
  </div>
</section>
{% endif %} {% if message %}
<div id="message" class="container md:w-[60%]">
  <img
    id="preview"
    src="data:image/png;base64,{{ img }}"
    alt="Image Preview"
    class="mx-auto rounded-md md:max-w-[500px]"
  />
  <div
    id="tips"
    class="bg-blue-50 border border-blue-200 rounded-md p-4 mt-8 md:w-[75%] mx-auto"
  >
    <p class="text-sm text-blue-700 font-medium flex items-center">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="h-5 w-5 mr-2"
        viewBox="0 0 20 20"
        fill="currentColor"
      >
        <path
          fill-rule="evenodd"
          d="M18 10c0 4.418-3.582 8-8 8a8 8 0 110-16c4.418 0 8 3.582 8 8zm-9 4a1 1 0 102 0h-2zm0-8a1 1 0 012 0v4a1 1 0 11-2 0V6z"
          clip-rule="evenodd"
        />
      </svg>
      Tips: Klik atau tarik foto pada drop field untuk mengganti foto yang
      diunggah.
    </p>
  </div>
  <div class="mt-6 mx-auto mb-6">
    <div
      class="bg-white rounded-lg border border-gray-200 p-6 shadow-[0_0_22px_rgba(0,0,0,0.15)]"
    >
      <h2 class="text-xl font-bold text-center text-blue-600">
        Hasil:
        <span class="text-primary">{{ message }}</span>
      </h2>
    </div>
  </div>
</div>
{% endif %}

<script src="{{ url_for('static', filename='dist/js/formHandler.js') }}"></script>
<!-- <script src="{{ url_for('static', filename='dist/js/preview.js') }}"></script> -->

{% endblock %}
